.result {
  /* grid-area: result; */
  height: 100%;
  width: 100%;
  border: 0;
  background: var(--white);
}

/* code-editor[language='html'] {
  grid-area: html-editor;
}
code-editor[language='javascript'] {
  grid-area: js-editor;
}
code-editor[language='css'] {
  grid-area: css-editor;
} */

code-editor[language='html']:after {
  background-image: url('/assets/images/html.svg');
}
code-editor[language='javascript']:after {
  background-image: url('/assets/images/js.svg');
}
code-editor[language='css']:after {
  background-image: url('/assets/images/css.svg');
}

@media (max-width: 600px) {
  code-editor, .result {
    flex-shrink: 0;
    scroll-snap-align: center;
  }

  code-editor {
    width: 100%;
  }
}