code-editor[language='html']:after {
  background-image: url('/assets/images/html.svg');
}
code-editor[language='javascript']:after {
  background-image: url('/assets/images/js.svg');
}
code-editor[language='css']:after {
  background-image: url('/assets/images/css.svg');
}

@media (max-width: 600px) {
  code-editor,
  .result {
    flex-shrink: 0;
    scroll-snap-align: center;
  }

  code-editor {
    width: 100%;
  }
}
