* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body,
#app {
  height: 100vh;
  width: 100vw;
}

body,
#app,
button,
input {
  font-family: 'Cascadia Code PL', monospace;
}

body {
  display: flex;
  flex-direction: row;
  position: relative;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }

  body, #app {
    max-height: 100%;
  }
}
