* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body,
#app {
  height: 100vh;
  width: 100vw;
}

body,
#app,
button,
input {
  font-family: 'Cascadia Code PL', monospace;
}

button {
  border: 0;
  padding: 0.75rem 1rem;
  font-size: 16px;
  background: transparent;
  color: var(--white);
  cursor: pointer;
  opacity: 0.7;
  position: relative;
  border-radius: 6px;
  transition: all 0.2s ease;
}

button:hover {
  opacity: 1;
  box-shadow: -3px 3px 6px 2px rgba(102, 51, 153, 0.3);
}

body {
  display: flex;
  flex-direction: row;
  position: relative;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }

  body,
  #app {
    max-height: 100%;
  }

  button {
    width: 100%;
  }
}
